body {
    margin: auto;
    max-width: 60em;
    font-family: 'Helvetica', 'Arial', sans-serif;  
    background-image: url(background.jpg);
}

nav li {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 182);
    border-radius: .5em;
    margin: .2em;
}

nav li:hover {
    background-color: blueviolet;
}

.header {
    background: rgb(238, 136, 206);
    font-weight: bold;
    padding: 1em 3em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}

div h1 {
    color: rgb(120, 34, 220)
}

nav ul {
    padding: 0;
    margin: .5em;
    text-align: center;
}

.content {
    background: rgb(238, 136, 206);
    padding: 1.5em 2em;
    border-radius: .5em
}

nav li a {
    text-decoration: none;
    color: #000;
}

form {
    display: grid;
    max-width: 30em;
    grid-template-columns: 8.5em 10.7em 10em;
    grid-row-gap: .1em;
}

div #profile_update_form {
    display: grid;
    max-width: 40em;
    grid-template-columns: 20em 10em 10em;
    grid-row-gap: .1em;
}

div #change_profile_form {
    display: grid;
    max-width: 40em;
    grid-template-columns: 20em 10em 10em;
    grid-row-gap: .1em;
}

.profile_informations {
    display: grid;
    max-width: 30em;
    grid-template-columns: 6em 24em;
    grid-row-gap: .1em;


    
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #update_profile_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #update_profile_button:hover {
    background-color: blueviolet;
}

form #change_profile_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #change_profile_button:hover {
    background-color: blueviolet;
}

div #register_form {
    display: grid;
    max-width: 18.5em;
    grid-template-columns: 8.5em 10em;
    grid-row-gap: .1em;
    text-align: left;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #register_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #register_button:hover {
    background-color: blueviolet;
}

div #login_form {
    display: grid;
    max-width: 15.2em;
    grid-template-columns: 5.2em 10em;
    grid-row-gap: .1em;
    text-align: left;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #login_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #login_button:hover {
    background-color: blueviolet;
}

.manage_profiles_form {
    max-width: 28.8em;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #select_profile_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #select_profile_button:hover {
    background-color: blueviolet;
}

form #select_profile_list {
    display: inline-block;
    padding: .7em 1em .5em;

    border-radius: .5em;
    margin: .2em;
}

form #add_new_profile_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #add_new_profile_button:hover {
    background-color: blueviolet;
}

form #add_new_profile_name {
    display: inline-block;
    padding: .7em 1em .5em;

    border-radius: .5em;
    margin: .2em;
}

form #delete_profile_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #delete_profile_button:hover {
    background-color: blueviolet;
}

form #delete_profile_list {
    display: inline-block;
    padding: .7em 1em .5em;

    border-radius: .5em;
    margin: .2em;
}

form label, input, textarea {
    margin: auto 0;



    padding: .7em 1em .5em;
    border-radius: .5em;
}

.post_table{
    max-width: 28.8em;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

.post_sender{
    max-width: auto;
    padding: .7em 1em .5em;
    background: rgb(223, 35, 173);
    border-radius: .5em;
    margin: .2em;
}

.post_content{
    max-width: 28.8em;
    padding: .7em 1em .5em;
    background: white;
    border-radius: .5em;
    margin: .2em;
}

.post_buttons {
    display: grid;
    max-width: 28.8em;
    grid-template-columns: 9em 9em 9em;
    grid-row-gap: .1em;


    text-align: center;



    margin: auto 0;
}

form #like_post_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #like_post_button:hover {
    background-color: blueviolet;
}

form #delete_post_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #delete_post_button:hover {
    background-color: blueviolet;
}

div #likes {
    display: inline-block;
    padding: .7em 1em .5em;
    background-color: rgb(229, 53, 182);
    border-radius: .5em;
    margin: .2em;
}

div #post_sent_at {
    display: inline-block;
    padding: .7em 1em .5em;
    
    border-radius: .5em;
    margin: .2em;
    
}

.add_new_post {
    max-width: 28.8em;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #new_post_textarea {
    display: inline-block;
    padding: .7em 1em .5em;

    border-radius: .5em;
    margin: .2em;
}

form #send_new_post_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #send_new_post_button:hover {
    background-color: blueviolet;
}

.update_profile_information_form_class {
    max-width: 20em;
    padding: .7em 1em .5em;
    background: rgb(233, 105, 192);
    border-radius: .5em;
    margin: .2em;
}

form #update_profile_information_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #update_profile_information_button:hover {
    background-color: blueviolet;
}

form #go_back_to_profiles_button {
    display: inline-block;
    padding: .7em 1em .5em;
    background: rgb(232, 74, 190);
    border-radius: .5em;
    margin: .2em;
}

form #go_back_to_profiles_button:hover {
    background-color: blueviolet;
}
