<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miracle Network: Publish</title>
</head>

<body>
    <div class="header">
        <h1><b>Miracle Network</b></h1>
        <h2><i>Your dream hub for connecting the future.</i></h2>
    </div>

    {% if session.user_id %}
        <nav>
            <ul>
                <li><a href='/profiles'>Profiles</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/posts'>Posts</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2>All posts:</h2>

            {% for post in all_posts %}
                <b> {{ post[0] }}: </b><br>
                {{ post[1] }}<br>
                <i> {{ post[2].strftime("%Y-%m-%d %H:%M:%S") }} </i><br><br>
            {% endfor %}
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href='/'>Front Page</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2><i>You are not logged in! Please log in first to view this page and connect with your friends!</i></h2>      
            <h2>Not yet a member? Join us!</h2>

            <p>
                Find more <a href="/about_us">about us</a> and <a href="/register">register</a> today to make the change!
            </p>
        </div>
    {% endif %}
</body>
