<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miracle Network: Publish</title>
</head>

<body>
    <div class="header">
        <h1><b>Miracle Network</b></h1>
        <h2><i>Your dream hub for connecting the future.</i></h2>
    </div>

    {% if session.user_id %}
        <nav>
            <ul>
                <li><a href='/profiles'>Profiles</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/posts'>Posts</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            <h1>Here you can see all posts and send new posts!:</h1>
            
            {% if session.profile_name %}
                <h2>Add a new post:</h2>

                <div class="add_new_post">
                    <form action="/posts" method="POST">
                        <label for="post_content"><b>New post content:</b></label>
                        <textarea id="new_post_textarea" name="new_post_content" rows="2" cols="50" placeholder="Type new post content"></textarea>
                        <input type="hidden" name="post_type" value="new_post">
                        <input id="send_new_post_button" type="submit" value="Send">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </div>
            {% endif %}

            <h2>All posts:</h2>

            {% for post in all_posts_and_likes %}
                <div class="post_table">
                    <div class="post_sender">
                        <b> {{ post[1] }}: </b><br>
                    </div>

                    <div class="post_content">
                        {{ post[2] }}<br>                
                    </div>
                
                    <div class="post_buttons">
                        <label id="likes" for="likes"><b><i>Likes: {{ post[4] }}</i></b></label>

                        {% if session.profile_name %}
                            <form action="/posts" method="POST">
                                <input type="hidden" name="post_type" value="like">
                                <input type="hidden" name="liked_post_id" value="{{ post[0] }}">
                                <input id="like_post_button" type="submit" value="Like">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>

                            <form action="/posts" method="POST">
                                <input type="hidden" name="post_type" value="unlike">
                                <input type="hidden" name="unliked_post_id" value="{{ post[0] }}">
                                <input id="unlike_post_button" type="submit" value="Unlike">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        {% endif %}

                        {% if session.profile_name == post[1] %}
                            <form action="/posts" method="POST">
                                <input type="hidden" name="post_type" value="delete_post">
                                <input type="hidden" name="deleted_post_id" value="{{ post[0] }}">
                                <input id="delete_post_button" type="submit" value="Delete">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            </form>
                        {% endif %}                
                    </div>

                    <label id="post_sent_at" for="post_sent_at"><i> Sent: {{ post[3].strftime("%Y-%m-%d %H:%M:%S") }} </i></label> 
                </div>
            {% endfor %}
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href='/'>Front Page</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2><i>You are not logged in! Please log in first to view this page and connect with your friends!</i></h2>      
            <h2>Not yet a member? Join us!</h2>

            <p>
                Find more <a href="/about_us">about us</a> and <a href="/register">register</a> today to make the change!
            </p>
        </div>
    {% endif %}
</body>
