<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miracle Network: Profiles</title>
</head>

<body>
    <div class="header">
        <h1><b>Miracle Network</b></h1>
        <h2><i>Your dream hub for connecting the future.</i></h2>
    </div>

    {% if session.user_id %}
        <nav>
            <ul>
                <li><a href='/profiles'>Profiles</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/posts'>Posts</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            {% if session.profile_name %}
                <h2>Welcome to {{ session.profile_name }}'s profile front page!</h2>
                <h2><i>You will be able to view and manage your profile information here soon, including friends, photos and e.g. see the number of your posts!</i></h2>

                <form action="/profiles" method="POST">
                    <label for="change_profile"><b>Click here to change to another profile:</b></label>
                    <input type="hidden" name="form_type" value="change_profile">
                    <input type="submit" value="Change profile">
                </form>
            {% else %}
                <h2>Here you can manage your profiles!</h2>
                
                <form action="/profiles" method="POST">
                    <label for="selected_profile">Select profile:</label>                    
                    <input type="hidden" name="form_type" value="selected_profile">
                    <select name="selected_profile" id="profile_list">
                        {% for profile in profiles %}
                            <option>{{ profile[1] }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Select Profile">
                </form>

                <form action="/profiles" method="POST">
                    <label for="profile_name">New profile name:</label>
                    <input type="text" name="profile_name">
                    <input type="hidden" name="form_type" value="profile_name">
                    <input type="submit" value="Add new profile">
                </form>

                <form action="/profiles" method="POST">
                    <label for="delete_profile">Delete profile:</label>                    
                    <input type="hidden" name="form_type" value="delete_profile">
                    <select name="delete_profile" id="profile_list2">
                        {% for profile in profiles %}
                            <option>{{ profile[1] }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Delete profile">
                </form>
            {% endif %}
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href='/'>Front Page</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2><i>You are not logged in! Please log in first to view this page and connect with your friends!</i></h2>      
            <h2>Not yet a member? Join us!</h2>

            <p>
                Find more <a href="/about_us">about us</a> and <a href="/register">register</a> today to make the change!
            </p>
        </div>
    {% endif %}
</body>
