<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miracle Network: Profiles</title>
</head>

<body>
    <div class="header">
        <h1><b>Miracle Network</b></h1>
        <h2><i>Your dream hub for connecting the future.</i></h2>
    </div>

    {% if session.user_id %}
        <nav>
            <ul>
                <li><a href='/profiles'>Profiles</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/posts'>Posts</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            {% if session.profile_name %}
                <h2>Here you can modify {{ session.profile_name }}'s profile information!</h2>

                <div class="update_profile_information_form_class">
                    <form id="update_profile_information_form" action="/profile_update" method="POST">
                        <label for="first_name">First name:</label>
                        <input id="first_name_input" type="text" name="first_name"><br>
                        
                        <label for="last_name">Last name:</label>
                        <input id="last_name_input" type="text" name="last_name"><br>
                        
                        <label for="email">Email:</label>
                        <input id="email_input" type="text" name="email"><br>
                    
                        <label for="institution">Institution:</label>
                        <input id="institution_input" type="text" name="institution"><br>
                    
                        <label for="city">City:</label>
                        <input id="city_input" type="text" name="city"><br>
                    
                        <label for="country">Country:</label>
                        <input id="country_input" type="text" name="country"><br>

                        <label for="motto">Motto:</label>
                        <input id="motto_input" type="text" name="motto"><br>

                        <label for="hobbies">Hobbies:</label>
                        <textarea id="hobbies_input" name="hobbies" rows="2" cols="50"></textarea><br>

                        <label for="status_text">Status text:</label>
                        <textarea id="status_text_textarea" name="status_text" rows="2" cols="50"></textarea><br>

                        <label for="profile_text">Profile text:</label>
                        <textarea id="profile_text_textarea" name="profile_text" rows="2" cols="50"></textarea><br>
                    
                        <input id="update_profile_information_button" type="submit" value="Update profile">
                    </form>

                    <form action="/profiles" method="GET">
                        <input id="go_back_to_profiles_button" type="submit" value="Go back to profiles">
                    </form>
                </div>
            {% else %}
                <h2>No profile selected!</h2>

                <p>
                    Please return to <a href="/profiles">profiles</a> and select a profile to modify!
                </p>
            {% endif %}
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href='/'>Front Page</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2><i>You are not logged in! Please log in first to view this page and connect with your friends!</i></h2>      
            <h2>Not yet a member? Join us!</h2>

            <p>
                Find more <a href="/about_us">about us</a> and <a href="/register">register</a> today to make the change!
            </p>
        </div>
    {% endif %}
</body>
