<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miracle Network: Register</title>
</head>

<body>
    <div class="header">
        <h1><b>Miracle Network</b></h1>
        <h2><i>Your dream hub for connecting the future.</i></h2>
    </div>

    {% if session.user_id %}
        <nav>
            <ul>
                <li><a href='/profiles'>Profiles</a></li>
                <li><a href='/friends'>Friends</a></li>
                <li><a href='/posts'>Posts</a></li>
                <li><a href='/chat'>Chat</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
                <li><a href='/logout'>Logout</a></li>
            </ul>
        </nav>

        <div class="content">
            <h2>You are already logged in! Please log out first to register a new account!</h2>
        </div>
    {% else %}
        <nav>
            <ul>
                <li><a href='/'>Front Page</a></li>
                <li><a href='/register'>Register</a></li>
                <li><a href='/about_us'>About Us</a></li>
                <li><a href='/contact_us'>Contact Us</a></li>
            </ul>
        </nav>

        <div class="content">
            <form id="register_form" action="/register" method="POST">
                <label for="username">New username:</label>
                <input type="text" name="username" required minlength="5" maxlength="30" placeholder="5-30 characters required">
                <label for="password">Password:</label>
                <input type="password" name="password1" required minlength="5" maxlength="30" placeholder="5-30 characters required">
                <label for="password">Retype password:</label>
                <input type="password" name="password2" required minlength="5" maxlength="30" placeholder="Retype password">               
                <input id="register_button" type="submit" value="Register">
            </form>

            <h2>Register now and join us!</h2>

            <p>
                Find more <a href="/about_us">about us</a> and <a href="/register">register</a> today to connect with your friends, family and all of the people around the globe!
            </p>
        </div>
    {% endif %}
</body>
